################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/BetonMultiplayer/bin/*
/BetonMultiplayer/obj/*
